{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('picked_movies')}}" method="POST" class="">
<div class="container-fluid position-absolute">
  <div class="loginframe">
    <h3>Movie Recommendation</h3>
  </br>
    <p>Liked movies: {{ movies_like }}</p>
    <p>Disiked movies: {{ movies_dislike }}</p>  
  </br>

    <div class="">
    {% for i in random_ids %}
    <div class="d-inline-flex p-2 bd-highlight">
    <div class="card shadow" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ get_title(i) }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ get_date(i) }}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="row p-2">
          <button type="submit" name="like" value="{{i}}" class="btn btn-success col me-1">like</button>
          <button type="submit" name="dislike" value="{{i}}" class="btn btn-danger col ms-1">dislike</button>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>

<div class="lh-lg">

</div>
</form>
{% endblock %}