{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('picked_movies')}}" method="POST">
<div class="container-fluid position-absolute text-center">
  <div class="loginframe">
    <div class="row text-center">
    <h3>Movie Recommendation</h3>
  </br>
  </br>
    <p>Please like at least 5 movies. You can dislike movies to get new options.</p>
    {% if movies_like|length >= 5%}<p>5/5 liked movies</p>
    {% else %} <p>{{ movies_like|length }}/5 liked movies</p>
    {% endif %}
    {% if movies_like|length >= 5%}<button type="button" onclick="location.href='{{ url_for('recommendation')}}'" name="get_recommendation" value="get_recommendation" class="btn btn-dark">Get recommendation!</button>
    {% endif %}
    </div>
  </br>
    <p>Liked movies: {{ movies_like }}</p>
    <p>Disiked movies: {{ movies_dislike }}</p>  
  </br>

    <div class="center">
    {% for i in random_ids %}
    <div class="d-inline-flex p-2 bd-highlight">
    <div class="card shadow" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ get_title(i) }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ get_date(i) }}</h6>
        <p class="card-text">{{ get_overview(i) }}</p>
        <div class="row p-2">
          <button type="submit" name="like" value="{{i}}" class="btn btn-success col me-1">like</button>
          <button type="submit" name="dislike" value="{{i}}" class="btn btn-danger col ms-1">dislike</button>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>

<div class="lh-lg">

</div>
</form>
{% endblock %}